.btn {
  margin-bottom: 10px;
}

#rolled-1, #snake-eyes {
  display: none;
  color: red;
}

.score-area, .winner, #dice-choice, #turn-change, #computer-ended, #computer-rolls {
  display: none;
}

.sub-list {
  list-style: lower-greek;
}
